{%extends "base.html"%}
{% macro changing_password(user)%}
{%block content%}
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'logs.show_user_logs' %} active {% endif %}" aria-current="page" href="{{ url_for('logs.show_user_logs')}}">Журнал посещений</a>
        </li>
        {% if current_user.can('prev_logs',user)%}
        <li class="nav-item">
            <a class="nav-link  {% if request.endpoint == 'logs.show_count_logs' %} active {% endif%}" aria-current="page" href="{{url_for('logs.show_count_logs')}}">Журнал пользователей</a>
        </li>
        {% endif%}
        {% if current_user.can('prev_logs',user)%}
        <li class="nav-item">
            <a class="nav-link  {% if request.endpoint == 'logs.show_page_logs' %} active {% endif%}" aria-current="page" href="{{url_for('logs.show_page_logs')}}">Журнал страниц</a>
        </li>
        {% endif%}

  </ul>
{%block visits%}

{%endblock%}


{%endblock%}
{% endmacro %}
